{% extends "KnpIpsumBundle::layout.html.twig" %}

{% block title "SensioFrameworkExtraBundle Tutorial" %}

{% block content %}
    <p class="content-margin">In the current controller you are using SensioFrameworkExtraBundle.</p>

    <p>Have a look at the annotations on top of the action to discover how it works.</p>
{% endblock %}

{% set code = code(_self) %}
