[submodule "vendor/symfony"]
	path = vendor/symfony
	url = http://github.com/symfony/symfony.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = http://github.com/fabpot/Twig.git
[submodule "vendor/twig-extensions"]
	path = vendor/twig-extensions
	url = http://github.com/fabpot/Twig-extensions.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = http://github.com/Seldaek/monolog.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = http://github.com/doctrine/common.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = http://github.com/doctrine/dbal.git
[submodule "vendor/doctrine"]
	path = vendor/doctrine
	url = http://github.com/doctrine/doctrine2.git
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = http://github.com/swiftmailer/swiftmailer.git
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = http://github.com/kriswallsmith/assetic.git
[submodule "vendor/metadata"]
	path = vendor/metadata
	url = http://github.com/schmittjoh/metadata.git
[submodule "vendor/bundles/Sensio/Bundle/FrameworkExtraBundle"]
	path = vendor/bundles/Sensio/Bundle/FrameworkExtraBundle
	url = http://github.com/sensio/SensioFrameworkExtraBundle.git
[submodule "vendor/bundles/JMS/SecurityExtraBundle"]
	path = vendor/bundles/JMS/SecurityExtraBundle
	url = http://github.com/schmittjoh/JMSSecurityExtraBundle.git
[submodule "vendor/bundles/Sensio/Bundle/GeneratorBundle"]
	path = vendor/bundles/Sensio/Bundle/GeneratorBundle
	url = http://github.com/sensio/SensioGeneratorBundle.git
[submodule "vendor/bundles/Symfony/Bundle/AsseticBundle"]
	path = vendor/bundles/Symfony/Bundle/AsseticBundle
	url = http://github.com/symfony/AsseticBundle.git
[submodule "vendor/bundles/Knplabs/Bundle/MenuBundle"]
	path = vendor/bundles/Knplabs/Bundle/MenuBundle
	url = http://github.com/knplabs/MenuBundle.git
[submodule "vendor/imagine"]
	path = vendor/imagine
	url = http://github.com/avalanche123/Imagine.git
[submodule "vendor/bundles/Avalanche/Bundle/ImagineBundle"]
	path = vendor/bundles/Avalanche/Bundle/ImagineBundle
	url = http://github.com/avalanche123/AvalancheImagineBundle.git
[submodule "vendor/behat/behat"]
	path = vendor/behat/behat
	url = http://github.com/Behat/Behat.git
[submodule "vendor/behat/gherkin"]
	path = vendor/behat/gherkin
	url = http://github.com/Behat/Gherkin.git
[submodule "vendor/bundles/Behat/BehatBundle"]
	path = vendor/bundles/Behat/BehatBundle
	url = http://github.com/Behat/BehatBundle.git
[submodule "vendor/behat/mink"]
	path = vendor/behat/mink
	url = http://github.com/Behat/Mink.git
[submodule "vendor/bundles/Behat/MinkBundle"]
	path = vendor/bundles/Behat/MinkBundle
	url = http://github.com/Behat/MinkBundle.git
[submodule "vendor/doctrine-data-fixtures"]
	path = vendor/doctrine-data-fixtures
	url = http://github.com/doctrine/data-fixtures.git
[submodule "vendor/bundles/Symfony/Bundle/DoctrineFixturesBundle"]
	path = vendor/bundles/Symfony/Bundle/DoctrineFixturesBundle
	url = http://github.com/symfony/DoctrineFixturesBundle.git
[submodule "vendor/doctrine-migrations"]
	path = vendor/doctrine-migrations
	url = http://github.com/doctrine/migrations.git
[submodule "vendor/bundles/Symfony/Bundle/DoctrineMigrationsBundle"]
	path = vendor/bundles/Symfony/Bundle/DoctrineMigrationsBundle
	url = http://github.com/symfony/DoctrineMigrationsBundle.git
[submodule "vendor/goutte"]
	path = vendor/goutte
	url = http://github.com/fabpot/Goutte.git
[submodule "vendor/gedmo-doctrine-extensions"]
	path = vendor/gedmo-doctrine-extensions
	url = http://github.com/l3pp4rd/DoctrineExtensions.git
[submodule "vendor/bundles/Stof/DoctrineExtensionsBundle"]
	path = vendor/bundles/Stof/DoctrineExtensionsBundle
	url = http://github.com/stof/StofDoctrineExtensionsBundle.git
[submodule "vendor/bundles/Knp/Bundle/MenuBundle"]
	path = vendor/bundles/Knp/Bundle/MenuBundle
	url = git://github.com/knplabs/KnpMenuBundle.git
[submodule "vendor/Zend/Tool"]
	path = vendor/Zend/Tool
	url = http://github.com/knplabs/zend-tool
[submodule "vendor/Zend/Validator"]
	path = vendor/Zend/Validator
	url = http://github.com/knplabs/zend-validator.git
[submodule "vendor/Zend/Uri"]
	path = vendor/Zend/Uri
	url = http://github.com/knplabs/zend-uri.git
[submodule "vendor/Zend/Http"]
	path = vendor/Zend/Http
	url = http://github.com/knplabs/zend-http.git
[submodule "vendor/zend-registry"]
	path = vendor/zend-registry
	url = http://github.com/knplabs/zend-registry.git
[submodule "vendor/bundles/FOS/RestBundle"]
	path = vendor/bundles/FOS/RestBundle
	url = http://github.com/FriendsOfSymfony/FOSRestBundle.git
[submodule "vendor/pagerfanta"]
	path = vendor/pagerfanta
	url = http://github.com/whiteoctober/Pagerfanta.git
[submodule "vendor/bundles/WhiteOctober/PagerfantaBundle"]
	path = vendor/bundles/WhiteOctober/PagerfantaBundle
	url = http://github.com/whiteoctober/WhiteOctoberPagerfantaBundle.git
[submodule "vendor/bundles/Sonata/AdminBundle"]
	path = vendor/bundles/Sonata/AdminBundle
	url = http://github.com/sonata-project/SonataAdminBundle.git
[submodule "vendor/bundles/Sonata/BluePrintBundle"]
	path = vendor/bundles/Sonata/BluePrintBundle
	url = http://github.com/sonata-project/SonataBluePrintBundle.git
[submodule "vendor/bundles/Sonata/jQueryBundle"]
	path = vendor/bundles/Sonata/jQueryBundle
	url = http://github.com/sonata-project/SonatajQueryBundle.git
[submodule "vendor/bundles/FOS/UserBundle"]
	path = vendor/bundles/FOS/UserBundle
	url = http://github.com/FriendsOfSymfony/FOSUserBundle.git
[submodule "vendor/doctrine-mongodb"]
	path = vendor/doctrine-mongodb
	url = http://github.com/doctrine/mongodb.git
[submodule "vendor/doctrine-mongodb-odm"]
	path = vendor/doctrine-mongodb-odm
	url = http://github.com/doctrine/mongodb-odm.git
[submodule "vendor/bundles/Symfony/Bundle/DoctrineMongoDBBundle"]
	path = vendor/bundles/Symfony/Bundle/DoctrineMongoDBBundle
	url = http://github.com/symfony/DoctrineMongoDBBundle.git
