{% extends "KnpIpsumBundle::layout.html.twig" %}

{% block title "KnpPaginatorBundle Tutorial" %}

{% block content %}
    <h1>Paginated list of things</h1>

    <p>Here is the list of things from your database:</p>

    {% if pagination|length > 0 %}
        <ul>
        {% for thing in pagination %}
            <li>* {{ thing.identifyYourselfPlease }}</li>
        {% endfor %}
        </ul>
        <div class="pagerfanta">
            {{ pagination.render()|raw }}
        </div>
    {% else %}
        <p>− There are no things yet!</p>
    {% endif %}
{% endblock %}

{% set code = code(_self) %}
