imports:
    - { resource: config_dev.yml }

framework:
    secret: ThisIsNotSecretChangeIt

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     localhost
        dbname:   ipsum_dev
        user:     root
        password: ~

# Enables Mink and configure it
mink:
    base_url:  http://change_me.local/app_dev.php/
#    goutte: ~
#    default_session: goutte

# Enables Behat
behat: ~
