{% extends "KnpIpsumBundle::layout.html.twig" %}

{% block title "Gedmo Doctrine Extensions Tutorial" %}

{% block content %}
    {% block content_gedmo %}
    {% endblock %}

    <h1 style="margin-top: 40px">What can I do with Gedmo?</h1>
    <ul>
        <li><a href="{{ path('knp_ipsum_gedmo_extensions') }}">List all "timed things" in our table</a></li>
        <li><a href="{{ path('knp_ipsum_gedmo_extensions_create') }}">Create a new "timed thing" entry in your database</a></li>
    </ul>
{% endblock %}
