{% extends "KnpIpsumBundle:GedmoExtensions:layout.html.twig" %}

{% block content_gedmo %}
    <h1>Updated!</h1>

    <p>You have updated the TimedThing called "<strong>{{ thing.name }}</strong>"
        at "<strong>{{ thing.updatedAt|date }}</strong>"</p>

{% endblock %}

{% set code = code(_self) %}
