{% extends "KnpIpsumBundle:Secured:layout.html.twig" %}

{% block content %}
    <h1>Simple page only for authenticated users</h1>

    <a href="{{ path('knp_ipsum_secured_admin') }}">Secured page for <strong>admins</strong> only</a>
    (have a look at access_control in app/config/security.yml to understand how it's done).
     
{% endblock %}

{% set code = code(_self) %}
