{% extends "KnpIpsumBundle::layout.html.twig" %}

{% block title "Security" %}

{% block security %}
    logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong>
    <br/>
    <a href="{{ path('knp_ipsum_logout') }}">Logout</a>
{% endblock %}
