{% extends "KnpIpsumBundle::layout.html.twig" %}

{% block title "Doctrine ORM Tutorial" %}

{% block content %}
    {% block content_doctrine %}
    {% endblock %}

    <h1 style="margin-top: 40px">What can I do with Doctrine?</h1>
    <ul>
        <li><a href="{{ path('knp_ipsum_doctrine_orm') }}">List all "things" in your database</a></li>
        <li><a href="{{ path('knp_ipsum_doctrine_orm_create') }}">Create a new "thing" entry in your database</a></li>
        <li><a href="{{ path('knp_ipsum_doctrine_orm_customrepository') }}">Use a custom repository class with custom query methods</a></li>
    </ul>
{% endblock %}
