{% extends "KnpIpsumBundle:DoctrineOdm:layout.html.twig" %}

{% block content_doctrine %}
    <h1>Yeah!</h1>

    <p>You have created a new Thing called "<strong>{{ thing.name }}</strong>"
        in a new category called "<strong>{{ thing.category.name }}</strong>"</p>

{% endblock %}

{% set code = code(_self) %}
