{% extends "KnpIpsumBundle:DoctrineOdm:layout.html.twig" %}

{% block content_doctrine %}
    <h1>Deleted!</h1>

    <p>We have deleted this dirty thing. I feel better now.</p>

{% endblock %}

{% set code = code(_self) %}
